      <div>
            <div class="ui-grid-a">
              <div class="ui-block-a">
                <a href="#rankings/speakers" data-role="button" class="square " data-corners="true"  data-iconpos="right" data-theme="f">
                  <div class="square-info">
                    <br>
                    <i ><img class="speaker-pic" src="assets/speaker.png"></i>
                    <br>
                    <br>
                    Oradores
                  </div>
                </a>
              </div>
              <div class="ui-block-b">
                <a href="#rankings/papers" data-role="button" class="square " data-corners="true"  data-iconpos="right" data-theme="f">
                  <div class="square-info">
                    <br>
                    <i class="icon-file-alt icon-4x"></i>
                    <br>
                    <br>
                    Papers
                  </div>
                </a>
              </div>
            </div>
            <div class="square odd">
                <a href="#rankings/keynotes" data-role="button" class="square" data-corners="true" data-iconpos="right" data-theme="f">
                 <div class="square-info">
                    <br>
                    <i ><img class="keynote-pic" src="assets/keynote.png"></i>
                    <br>
                    <br>
                    Keynotes
                  </div>
                </a>
            </div>
            <div class="ui-grid-a">
              <div class="ui-block-a">
                <a href="#rankings/sessions" data-role="button" class="square " data-corners="true"  data-iconpos="right" data-theme="f">
                  <div class="square-info">
                    <br>
                    <i class="icon-list-alt icon-4x"></i>
                    <br>
                    <br>
                    Sessões
                  </div>
                </a>
              </div>
              <div class="ui-block-b">
                <a href="#rankings/workshops" data-role="button" id="rankings-solo" class="square " data-corners="true"  data-iconpos="right" data-theme="f">
                    <div class="square-info">
                      <br>
                      <i class="icon-cogs icon-4x"></i>

                     
                    </div>
                    <p class="big-titles workshop">
                         Workshops
                    </p>
                </a>
              </div>
            </div>
        </div>