    <h1 id="awards-title">Mais Votado</h1>
     </br>
      {{#if hasVotes}}
        {{#if isEvent}}
          {{#each votewinners}}
            <h2 >{{title}}</h2>
            <h3>{{parseDate datetime}}</h3>
            <h3 >{{room_name}}</h3>
            <div class="ui-grid-a">
              <div class="ui-block-a">
                  <h3 id="votes" value="{{id}}">Votos:  <span >{{votes}}</span></h3>
              </div>
              <div class="ui-block-b">
                  <span id="vote-button" class="most-voted" data-role="button" data-theme="f" value="{{id}}">
                    Votar 
                    {{#if isvoted }}
                      <i class="icon-check-sign"></i>
                    {{else}}
                      <i class="icon-plus-sign"></i>
                    {{/if}}
                  </span>
              </div>
            </div>
            <a href="{{url}}" data-role="button" data-theme="f">Ver página do Evento </a>
          {{/each}}
        {{else}}
          {{#each votewinners}}
            {{> userinfo this}}
            <div class="ui-grid-a">
              <div class="ui-block-a">
                  <h3 id="votes" value="{{id}}">Votos:  <span >{{votes}}</span></h3>
              </div>
              <div class="ui-block-b">
                  <span id="vote-button" class="most-voted" data-role="button" data-theme="f" value="{{id}}">
                    Votar 
                    {{#if isvoted }}
                      <i class="icon-check-sign"></i>
                    {{else}}
                      <i class="icon-plus-sign"></i>
                    {{/if}}
                  </span>
              </div>
            </div>
            <a href="{{url}}" data-role="button" data-theme="f">Ver página do Orador </a>
          {{/each}}
        {{/if}}
      {{else}}
        <h2 id="awards-title">Ainda não houve qualquer voto nesta categoria</h2>
      {{/if}}
      {{#if others}}
      <br>
      <h2 id="awards-title">Outros</h2>
      <br>
      <ul data-role="listview" data-filter="true" data-split-icon="plus" data-split-theme="b" data-inset="true">
        {{#if isEvent}}
          {{#each others}}
            <li class="item"data-theme="a">
              <a href="{{url}}">
                <h2 class=id="awards-title">{{title}}</h2>
                <p >Votos: <span id="votes" value="{{id}}" ><span > {{votes}}</span></span></p>
              </a>
              <a id="vote-button" data-position-to="window" value="{{id}}" ></a>
            </li>

          {{/each}}
        {{else}}
          {{#each others}}
            <li class="item"data-theme="a">
              <a href="{{url}}">
                <h2>{{getFirstAndLastName name}}</h2>
                <p >Votos: <span id="votes" value="{{id}}" ><span > {{votes}}</span></span></p>
              </a>
              <a id="vote-button" data-position-to="window" value="{{id}}" ></a>
            </li>

          {{/each}}
        {{/if}}
      </ul>
      {{/if}}

