
/*PÃGINA DE PALESTRA*/

.full-btn {
	width: 100%;
}

.paper-info {
	font-size: 1.5em;
	height:100%;
	text-align: center;
	height:30px;
 	line-height:30px;
}

#paper-title {
	margin:0;
	margin-bottom: 0.5em;
	text-align: center;
}

.event-day-wrapper .ui-btn-inner {
	overflow: visible !important;
	white-space: normal !important;
	text-overflow: auto !important;
}
}

.profile-pic-wrapper {
	display: table-cell;
    vertical-align: middle;
}

.profile-pic {

	border-radius: 100px !important;

}

.profile-lastname {
	font-size: 2em;
	display: block;
	margin-bottom: 0em;
}

.comment.new {
	/*background-color: beige;*/
	/*transition: background-color 5s linear;*/
}

.comment-author {
	height:30px;
 	line-height:30px;
}

#abstract, .comment-content, #user-bio {
	text-align: justify;
	font-size: 1.2em;
	line-height:1.5em;
}


.question-voted {
    color: forestgreen;
}

.vote-question {
	font-size: 2.5em;
	height:100%;
	height:30px;
	line-height:30px;

	padding-left:-10em;
}

.question-votes {
	font-size: 1.5em;
}

.comment >.ui-grid-a {
	margin-bottom: -1em;
}



[data-role=content], .ui-page {
	background-color: rgb(240, 239, 231);
}



.button-icon{
	margin-right:5px;
	margin-left:-15px;
}

#event-room-info {
	overflow: visible;
}


.adaptable-list .ui-link-inherit {
	overflow: auto !important;
	white-space: normal !important;
	text-overflow: none !important;
}