/*Tabs da agenda*/
#agenda-chooser{
	margin-bottom: 10px;
}


.icon-chevron-right{
	float: right;

}


/*Butões da agenda
.fc-button-prev, .fc-button-next{
	width: 3em;
	
}

.fc-button-prev, .fc-button-next, .fc-button-today{
	font-size: 1.3em;
	text-align: center;
}
*/
