/*Tabs da agenda*/
#agenda-chooser{
	margin-bottom: 10px;
}

.menu{
	visibility: hidden;


}

#options{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	color: white;
	visibility: visible;
	width: 120px;
	position: absolute;
	color: white;
	z-index: 200 !important;
	background-color: #c0392b;
	border-color: #c0392b;	
}

#options li{
	list-style:none;
}

#options li a{
	color: white;
	text-decoration: none !important;
}

.icon-chevron-right{
	float: right;
	position: relative;
	right: 5px;
	top: 2px;
}


/*Butões da agenda
.fc-button-prev, .fc-button-next{
	width: 3em;
	
}

.fc-button-prev, .fc-button-next, .fc-button-today{
	font-size: 1.3em;
	text-align: center;
}
*/
