/*Tabs da agenda*/
#agenda-chooser{
	margin-bottom: 10px;
}

div.fc-event-time img{
	float: right;
	margin-top:-10px;
}

#popupMenu {
	background: #2c3e50 !important;
}

.today-pic {
	height: 16px;
	width: 16px;
}


