.square {
	margin: 0px !important;
	margin-bottom: 10px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px;
	margin: 0px;
	height: 130px;

}

 .square.ui-btn-up-f{
	background-color:transparent;
	border: none;
	color: black;
 }

 .square.ui-btn-hover-f{
 	background-color: #34495e;
	border: none;
	color: white;
 }

 .square.ui-btn-active{
 	background-color: #34495e;
	border: none;
	color: white;
 }

  .square.ui-btn-down-f{
 	background-color: #34495e;
	border: none;
	color: white;
 }
 
.square .ui-btn-inner{
	height: 130px;
}

.square-info {
	margin-left: 20px;
	position: relative;
	bottom: 10px;
}

.square-wrapper {
	margin-right: -20px !important;
	margin-left: -20px !important;
}

.keynote-pic{
	height: 61px;
	width: 45px;
}

.speaker-pic{
	height: 61px;
	width: 50px;
}

