.square {

	margin-bottom: 10px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px;
	margin: 0px;
	height: 130px;

	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}



.odd{
	margin-left:auto !important;
	margin-right:auto !important;
	height: 50% !important;
	width: 50% !important;
}


.square.ui-btn-up-f{
	background-color: #34495e;
	border: solid;
	border-width: 1px;
	border-color: #7f8c8d;
	color: white;
 }

 .square.ui-btn-hover-f{
 	background-color: transparent;
	border: solid;
	border-width: 1px;
	border-color: #7f8c8d;
	color: black;
 }

 .square.ui-btn-active{
 	background-color: transparent;
	border: solid;
	border-width: 1px;
	border-color: #7f8c8d;
	color: black;
 }

  .square.ui-btn-down-f{
 	background-color: transparent;
	border: solid;
	border-width: 1px;
	border-color: #7f8c8d;
	color: black;
 }
 
.square .ui-btn-inner{
	height: 130px;
}

.square-info {
	
	margin-left: 15px;
	position: relative;
	bottom: 10px;
}
.some-titles{
	margin-left: -5px;
}

p.big-titles{
	margin-top: 8px;
	
}

p.big-titles.social{
	margin-left: 0px;
	
}

p.big-titles.participants{
	margin-left: 8px;
	
}

.square-wrapper {
	margin-right: -20px !important;
	margin-left: -20px !important;
}

.keynote-pic{
	height: 61px;
	width: 45px;
}

.speaker-pic{
	height: 61px;
	width: 50px;
}

