
/*PÁGINA DE PALESTRA*/

.full-btn {
	width: 100%;
}

.paper-info {
	font-size: 1.5em;
	height:100%;
	text-align: center;
	height:30px;
 	line-height:30px;
}

#paper-title {
	margin:0;
	margin-bottom: 0.5em;
	text-align: center;
}

.profile-pic-wrapper {
	display: table-cell;
    vertical-align: middle;
}

.profile-pic {

	border-radius: 100px !important;

}

.profile-lastname {
	font-size: 2em;
	display: block;
	margin-bottom: 0em;
}

.comment.new {
	/*background-color: beige;*/
	/*transition: background-color 5s linear;*/
}

.comment-author {
	height:30px;
 	line-height:30px;
}

#abstract, .comment-content, #user-bio {
	font-size: 1.2em;
}

.like-button{
	margin-left: 1em;
}

.question-voted {
    color: forestgreen;
}

.question-votes {
	font-size: 2.5em;
	height:100%;
	height:30px;
	line-height:30px;

	margin-left: 0.5em;
}

.question-ranking {
	text-align: right;
}

[data-role=content], .ui-page {
	background-color: rgb(240, 239, 231);
}


/*.ui-icon:not(.ui-icon-loading), 
	.ui-icon-searchfield::after {
	background: rgba(0,0,0,0) !important;
	height: 100px;
}*/

.button-icon{
	margin-right:5px;
	margin-left:-15px;
}