#info-box .ui-block-b{
	float: right;
}

.centered-box {
	float: left;
}


#sub-buttons {
	margin-bottom: 30px;
}

h1 {
	margin-bottom: 2px;
	margin-top: 2px;
}

#contacts-info i {
	float: left;
}


a{
	text-decoration: none;
}

#contacts-info i{
	margin-right: 1em;
}

#social-contacts-list {
 	line-height:30px;
}



