#awards-title{
	text-align: center;
}

.most-voted-titles{
	text-align: center;
	margin-bottom: 4px;
}

.awards-name{
	text-align: justify;
	white-space: normal !important;
}
.others-events{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: rgb(52, 73, 94); 
}

.other-votes{
	height: 20px;
	width: 30px;
	background-color: silver;
	color: black;
	border-radius: 75%;
	float: right;
}

.other-name{
	float: left;

}

.ui-li-count.user{
	position: relative !important;
	float: right;
	top: 10px;
}

.item{

	margin-bottom: 10px !important;
} 



/*Lista de outros*/
.item, .item .ui-btn-inner, .item a{
	border-top-left-radius: 10px !important;
	border-top-right-radius: 10px !important;
	border-bottom-left-radius: 10px !important;
	border-bottom-right-radius: 10px !important;
}

/*botao dos workshops*/
.big-titles.workshop{
	margin-left: 8px;
}